

* {
	font-family: "Rubik", sans-serif;
	color: white;
}

body {
	margin: 0px;
}

.supercontainer {
	height: 100%; /*100vh makes it as tall as the viewing browser is. brilliant...or is it*/
	width: 100%;
	display: grid;
	grid-template-rows: repeat(9, 1fr);
	grid-template-columns: repeat(12, 1fr);
	grid-template-areas:
		". h h h h h h h h h h ."
		". a a a a a a a a a a ."
		". c c c c c c c c c c ."
		". c c c c c c c c c c ."
		". m m m m m m m m m m ."
		". m m m m m m m m m m ."
		". i i i i i i i i i i ."
		". i i i i i i i i i i ."
		"f f f f f f f f f f f f";
	grid-gap: 0px;
	/*background-color: #40E0D0; */
	background: linear-gradient(-90deg,/*#8defe5,#40E0D0*/#FFB6C1,#f27a9d);
}

.header {
	grid-area: h;
	font-size: 1.15em;
	display: flex;
	justify-content: left;
	align-items: center;
}

.header p{
	padding-top: 0px;
	font-size: 1em;
	margin-top: 0px;
	margin-bottom: 1em;
}

.header h1 {
	margin-top: 5px;
	margin-bottom:0px;
}

.attention {
	grid-area: a;
	font-size: 1.3em;
	display: flex;
	align-items: center;
	margin-bottom: 0px;
	margin-top: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	/*text-align: center; works for aligning across x axis...but not really*/
}

.attention h1 {
	margin-bottom: 0px;
	margin-top: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.cover {
	grid-area: c;
	/*background-color: #40E0D0; */
	margin-top: 30px;
}

.cover h1 {
	font-size: 1.25em;
	line-height: 1.5;
	margin-bottom: 6.5px;
	margin-top: 0px;
}

.cover p {
	margin-top: 8px;
	font-size: 1em;
	line-height: 1.5;
}

#mailchimp {
	/*background: red;*/
	color: /*#3D6392;*/ black;
	padding: 20px 0px;
	grid-area: m;
	
}
	#mailchimp input {
		 border: medium none;
    color: gray;
    font-family: times new roman;
    font-size: 16px;
    font-style: italic;
    margin-bottom: 10px;
    padding: 8px 10px;
    width: 300px;
		border-radius: 20px;
		-moz-border-radius: 20px;
		-webkit-border-radius: 20px;
	}
		#mailchimp input.email { background: #fff }
		#mailchimp input.name { background: #fff}
		#mailchimp input[type="submit"] {
			background: /*#115B87;*/ #00FF7F;
			color: /*#fff;*/ black;
			cursor: pointer;
			font-family: 'Rubik';
			font-style: regular;
			font-size: 15px;
			width: 35%;
			padding: 8px 0;

		}
			#mailchimp input[type="submit"]:hover { color: #fff }
/*
#mc_embed_signup {
	grid-area: m;
	display: none;
}
*/

.image {
	grid-area: i;
}

img {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.footer {
	display: flex;
	justify-content: center;
	text-align: center;
	grid-area: f;
	background: gray;
}

.footer p {

}

.button {
	color: black;
}

/*If I want I could add a sliding animation here*/
/*Forked from: https://codepen.io/anon/pen/BYOroo
/*Vertical Sliding
.slidingVertical{
	display: inline;
	text-indent: 8px;
}
.slidingVertical span{
	animation: topToBottom 20s linear infinite 0s;
	-ms-animation: topToBottom 20s linear infinite 0s;
	-webkit-animation: topToBottom 20s linear infinite 0s;
	color: #00FF7F;
	opacity: 0;
	overflow: hidden;
	position: absolute;
}
.slidingVertical span:nth-child(2){
	animation-delay: 2.5s;
	-ms-animation-delay: 2.5s;
	-webkit-animation-delay: 2.5s;
}
.slidingVertical span:nth-child(3){
	animation-delay: 5s;
	-ms-animation-delay: 5s;
	-webkit-animation-delay: 5s;
}
.slidingVertical span:nth-child(4){
	animation-delay: 7.5s;
	-ms-animation-delay: 7.5s;
	-webkit-animation-delay: 7.5s;
}
.slidingVertical span:nth-child(5){
	animation-delay: 10s;
	-ms-animation-delay: 10s;
	-webkit-animation-delay: 10s;
}
.slidingVertical span:nth-child(6){
	animation-delay: 12.5s;
	-ms-animation-delay: 12.5s;
	-webkit-animation-delay: 12.5s;
}
.slidingVertical span:nth-child(7){
	animation-delay: 15s;
	-ms-animation-delay: 15s;
	-webkit-animation-delay: 15s;
}
.slidingVertical span:nth-child(8){
	animation-delay: 20s;
	-ms-animation-delay: 20s;
	-webkit-animation-delay: 20s;
}
/*topToBottom Animation
@-moz-keyframes topToBottom{
	0% { opacity: 0; }
	5% { opacity: 0; -moz-transform: translateY(-50px); }
	10% { opacity: 1; -moz-transform: translateY(0px); }
	25% { opacity: 1; -moz-transform: translateY(0px); }
	30% { opacity: 0; -moz-transform: translateY(50px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
@-webkit-keyframes topToBottom{
	0% { opacity: 0; }
	5% { opacity: 0; -webkit-transform: translateY(-50px); }
	10% { opacity: 1; -webkit-transform: translateY(0px); }
	25% { opacity: 1; -webkit-transform: translateY(0px); }
	30% { opacity: 0; -webkit-transform: translateY(50px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
@-ms-keyframes topToBottom{
	0% { opacity: 0; }
	5% { opacity: 0; -ms-transform: translateY(-50px); }
	10% { opacity: 1; -ms-transform: translateY(0px); }
	25% { opacity: 1; -ms-transform: translateY(0px); }
	30% { opacity: 0; -ms-transform: translateY(50px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}


End fork */

@media screen and (min-width: 640px) {
	.supercontainer {
	height: 100%; /*100 vh makes it as as tall as viewing browser is. but that causes problems by forcing overlap. 100%, on the other hand, creates sizes based on.... what exactly? Idk, but it looks better when doing responsive tests.*/
	width: 100%;
	display: grid;
	grid-template-rows: repeat(10, 1fr);
	grid-template-columns: repeat(12, 1fr);
	grid-template-areas:
		". h h h h h h h h h h ."
		". a a a a a a a a a a ."
		". c c c c i i i i i i ."
		". c c c c i i i i i i ."
		". c c c c i i i i i i ."
		". m m m m i i i i i i ."
		". m m m m i i i i i i ."
		". m m m m i i i i i i ."
		". . . . . . . . . . . ."
		"f f f f f f f f f f f f";
	grid-gap: 0px;
	background-color: #40E0D0;	
}

.cover {
	margin-top: 30px;
}
.attention {
	grid-area: a;
	font-size: 1.6em;
	display: flex;
	align-items: center;
	margin-bottom: 0px;
	margin-top: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	/*text-align: center; works for aligning across x axis...but not really*/
}
}